<div class="container">
    <!-- inner items -->
    <div class="inner-conten">
        <!-- products item -->
        <div class="item-single">
            <!-- heading -->
            <h2 class="br-orange default-head">You are viewing item: {{product.ItemId}}</h2>
            <!-- single product details -->
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div>
                        <div style="height: 305px">
                            <carousel interval="myInterval" no-wrap="noWrapSlides">
                                <slide ng-repeat="pic in product.Pictures" active="slide.active">
                                    <img ng-src="{{IMAGE_DIR}}{{pic.Picture}}" style="margin:auto;">
                                </slide>
                            </carousel>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <!-- product items details -->
                    <div class="item-details">
                        <!-- heading -->
                        <h3>{{product.ItemId}}</h3>
                        <!-- table -->
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Price:</th>
                                    <td><strong class="theme">${{product.Price}}</strong></td>
                                </tr>
                            </table>
                        </div>
                        <div role="tabpanel">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="assets/#tab1"
                                                                          aria-controls="tab1" role="tab"
                                                                          data-toggle="tab">Description</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                                    <p>{{product.FullDescription}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- product item end -->
    </div>
</div>