
<div class="container"  infinite-scroll="loadMore()">
    <div class="inner-content items">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="navi">
                    <h3>Categoris</h3>
                    <ul class="list-unstyled">
                        <li ng-repeat="cat in categories" ><a ng-click="filterByCategory(cat.Id)">{{cat.Name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="recent-sale">
                    <h2 class="br-orange default-head">Products
                        <form id="searchForm" ng-submit="filter()" >
                            <input type="text" class="form-control" placeholder="Search for..." ng-model="searchQuery">
                        </form>
                    </h2>
                    <div class="row">
                        <div class="col-md-4 col-sm-6" ng-repeat="product in products">
                            <div class="sale-item">
                                <img class="img-responsive" src="{{product.Thumbnail}}" alt=""/>
                                <h3><a href="#/product/{{product.Id}}">{{product.ItemId}}</a></h3>
                                <span class="details">{{product.ShortDescription}}</span>
                                <div class="cart-btn">
                                    <a href="#/product/{{product.Id}}" class="btn btn-default" type="button"><span
                                            class="price">${{product.Price}}</span> more info
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{products.length}}